body {
	background-color: #fff;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

html, body, .content-wrapper {
	height: 100%;
}

.game {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.sudoku td {
	border: 1px solid #000;
	width: 50px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
}

.sudoku .cnd {
	background-color: #c0c0c0;
}

.content-wrapper {
	background-color: #b8e2e7;
	margin-left: auto;
	margin-right: auto;
	padding-left: 100px;
	padding-right: 100px;
	width: 1400px;
	height: 100%;
}

#div-menu {
	vertical-align: middle;
	background-color: #99d7dd;
	clear: both;
}

.float-left {
	float: left;
	height: 100%;
}

.my-header {
	line-height: 50px;
}

.float-right .btn {
margin-top: 8px;
}

.float-right {
	margin: 10px;
	float: right;
	height:100%;
	vertical-align: middle;
}

.site-title {
	color: #fff;
	font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
	font-size: 2.3em;
	margin: 10px;
}

#teaser-types {
	font-size: 18px;
}

#page-content {
	font-size: 18px;
	margin: 30px;
}

.table-hover th {
	background-color: #8e9da6;
}

#teasers td:hover {
	cursor: pointer;
}

#teasers {
	margin-top: 50px;
}

#teasers tr {
	border-bottom: 1px solid black;
}

/* menu
----------------------------------------------------------*/
ul#menu {
	font-size: 1.3em;
	font-weight: 600;
	margin: 0 0 5px;
	padding: 0;
}

ul#menu li {
	display: inline;
	list-style: none;
	padding-left: 15px;
}

ul#menu li a {
	background: none;
	color: #999;
	text-decoration: none;
}

ul#menu li a:hover {
	color: #555;
	text-decoration: none;
}

ul#menu .choosed {
	color: #000;
}

#login-form {
	margin-top: 50px;
}